---
interface Props {
    title: string;
}

import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="overflow-hidden">
        <slot />

        <script is:inline>
            // Minimal theme handling for the editor page
            const getTheme = () => {
                if (
                    typeof localStorage !== "undefined" &&
                    localStorage.getItem("theme")
                ) {
                    return localStorage.getItem("theme");
                }
                if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    return "dark";
                }
                return "light";
            };

            const theme = getTheme();
            if (theme === "light") {
                document.documentElement.classList.remove("dark");
            } else {
                document.documentElement.classList.add("dark");
            }
        </script>
    </body>
</html>

<style is:global>
    :root {
        --app-bg: #ffffff;
    }

    :root[class~="dark"] {
        --app-bg: #09090b; /* Zinc 950 to match app */
    }

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--app-bg);
    }
</style>
